// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$finishedColor: green;
$vapor: #F6F6F6;
$jet: #222222;

.finished {
	color: $finishedColor;
}

.bookRow {
	background-color: $vapor;
	color: $jet;
	padding-top: 1em;
	margin-bottom: 1em !important;
}

.bookForm {
	display: none;
}

.label {
	transition: background-color 300ms ease-out;

	&:hover, :focus {
		color: $vapor;
		background-color: #007095;
	}
}